div.difference {
  background: linear-gradient(180deg, #CBE7F8 54%, rgba(222, 248, 254, 0) 100%);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h2 {
  font-family: Futura HV BT;
}

h6 {
  font-family: Futura HV BT;
}

h5 {
  font-family: Futura HV BT;
}


.difference .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

  
.difference .fa-ul {
  font-family: Futura HV BT;
  font-size: 1.3rem;
}

  .pricing .modal-body {
    font-family: Futura HV BT;
    font-size: 1.3rem;
    overflow: hidden;
    
    
    
}

.difference .modal-open {
  overflow: hidden;
  

}

.difference hr {
  margin: 1.5rem 0;
}

.difference .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.difference .card-price {
  font-size: 3rem;
  margin: 0;
}

.difference .card-price .period {
  font-size: 0.8rem;
}
  
.difference ul li {
  margin-bottom: 1rem;
}

.difference .text-muted {
  opacity: 0.7;
}

.difference .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  
  
}
.difference .fixed-row-bottom {
    
  bottom: 0;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .difference .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .difference .card:hover .btn {
    opacity: 1;
  }
}
  